body {
    background-color: rgb(255,182,193);
}

#theEyes {
 text-align:center;
 /* background-color: blue; */
}

button {
    padding: 5vw;
    border: solid 3px;
}

button:hover {
    background-color:  #f742df;
    color:  rgb(214, 161, 63);
   
}
#theNose {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    
}
#theMouth {
    display:flex;
    justify-content: center;
    border: solid red;
   
}


#theMouth p {
    background-color: white;
    /* width: 50px; */
    padding:2vw;
}

.theTeeth {
    flex-grow: 1;
    margin: 2px;
}