body {
    background-color: rgb(255, 161, 232);
}

#square {
    width: 850px;
    height: 650px;
    border: 5px solid rgb(230, 188, 188);
    background-color: #ffc8c8;
    text-align: center;
    position:fixed;
    top: 15%;
    left: 20%;


  }

#zigZagleft{

    border: none; 
    width: 17%; 
    margin: auto; 
    margin-top: 5%; 
    margin-bottom: 5%; 
    height: 40px; 
    background: linear-gradient(135deg,  #ffc8c8 25%, transparent 25%) -20px 0, linear-gradient(225deg, #ffc8c8 25%, transparent 25%) -20px 0, linear-gradient(315deg,  #ffc8c8 25%, transparent 25%), linear-gradient(45deg, #ffc8c8 25%, transparent 25%);
    background-size: 40px 40px; 
    background-color: #000000;
    position: fixed;
    top: 10% ;
    left: 25%;
}

#zigZagright{
    border: none; 
    width: 17%; 
    margin: auto; 
    margin-top: 5%; 
    margin-bottom: 5%; 
    height: 40px; 
    background: linear-gradient(135deg,  #ffc8c8 25%, transparent 25%) -20px 0, linear-gradient(225deg, #ffc8c8 25%, transparent 25%) -20px 0, linear-gradient(315deg,  #ffc8c8 25%, transparent 25%), linear-gradient(45deg, #ffc8c8 25%, transparent 25%);
    background-size: 40px 40px; 
    background-color: #000000;
    position: fixed;
    top: 10% ;
    right: 25%;
    
}

#leftEye {
 text-align:center;
    background-color: rgb(230, 201, 247);
    height: 225px;
    width: 225px;
    border: solid 10px;
    border-color: black;
    font-size: 60px;
    font-family: "DIN Alternate",sans-serif;
    justify-content:center ;
    text-decoration: none;
    position: fixed;
    top: 27%;
    left: 25%;

}

#rightEye {
    text-align:center;
    background-color: rgb(230, 201, 247);
    height: 225px;
    width: 225px;
    border: solid 10px;
    border-color: black;
    font-size: 60px;
    font-family: "DIN Alternate",sans-serif;
    justify-content:center ;
    text-decoration: none;
    position: fixed;
    top: 27%;
    right: 25%;
   
}

button {
    justify-content: center;
    height: 70px;
    width: 70px;
    background-color: rgb(0, 0, 0);
    border-radius: 60%;
    display: inline-block;
    position: fixed;
    top: 45%;
    left: 48%;

    
}

button:hover {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:  #f742df;
    color:  rgb(0, 0, 0);
    
    
}

#column{

    flex: 1;
    margin: 0px;
    padding: 0px;
    transition: 0.3s;
}
#theMouth {
    display:flex;
    justify-content: center;
    border: solid rgb(126, 92, 206);
    position: fixed;
   top:65%;
   left:29%;
}


#theMouth p {
    background-color: white;
    /* width: 50px; */
    padding:2vw;
}

.theTeeth {
    flex-grow: 1;
    margin: 2px;
}

#Wireframe {
    text-align:center;
    font-size: 20px;
    position: fixed;
    top: 90%;
    left: 48%;

}